.Card{
    display: grid;
    margin: 5em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title{
    
    justify-content:center ;
}
.body{
    margin:  0 3em;
    display: grid;
    grid-template-rows: repeat( auto-fill, minmax(15rem,20rem));

}